Demo/src/main/webApp/WEB-INF/schema/EventDetails.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://beans.stage.com" targetNamespace="http://beans.stage.com">  
      <xsd:element name="Event" type="Event" /> 
      <xsd:complexType name="Event"> 
           <xsd:sequence>      
                <xsd:element name="Notice" type="xsd:string" /> 
                <xsd:element name="Events" type="xsd:string" /> 
           </xsd:sequence> 
      </xsd:complexType> 
 </xsd:schema> 